* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: darkslategrey;
  background: #fffefe;
  line-height: 1.5;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

button,
a,
input[type="submit"] {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

input[type="submit"] {
  margin-top: 2rem;
}

form {
  border: 4px solid palevioletred;
  padding: 2rem;
  display: grid;
  width: 30rem;
  filter: drop-shadow(1px 1px 1px pink);
}

input,
textarea {
  padding: 0.9rem;
  border: none;
  background: #f1f1f1;
  font-size: 1rem;
  color: #424242;
  font-style: italic;
}

label {
  margin: 1rem 0 0.4rem;
}

button,
input[type="submit"] {
  border: none;
  background: palevioletred;
  color: white;
  font-size: 1rem;
  padding: 0.7rem;
}

li {
  list-style-type: none;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.navbar * {
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.navbar__auth,
.navbar__options {
  display: flex;
}

.navbar button {
  border: none;
  background: palevioletred;
  color: white;
  font-size: 1rem;
}

/* HERO CONTAINER */

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.container__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

/* MESSAGES */

.message-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.message {
  background: rgb(248, 238, 240);
  min-height: 10rem;
  padding: 2rem;
  box-shadow: 1px 1px 2px rgb(230, 220, 223);
}

/* COMMENTS */

.comment--notification {
  position: fixed;
  height: 100px;
  bottom: 0;
  right: 0;
  background: palevioletred;
  color: #f1f1f1;
  margin: 0;
  padding: 2rem;
}

/* PROFILE */

.profile--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  background: rgb(235, 210, 215);
  padding: 2rem;
}

/* SPINNER */
.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid pink;
  border-color: pink transparent pink transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BUTTONS */

.go-back--btn {
  margin-top: 3rem;
  padding: 1rem 3rem;
  background: dimgrey;
}
